<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <form action="/createUsers" method="post">
    Username: <input type="text" name="username" placeholder="Username" autofocus />
    First Name: <input type="text" name="firstName" placeholder="First Name" />
    Last Name: <input type="text" name="lastName" placeholder="Last Name" />
    Password: <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Add Users">
  </form>
</body>
</html>
